extends layout
block content
    nav.navbar.navbar-light.navbar-default.bg-light.navbar-expand-lg.navbar-light.bg-light.navbar-fixed-top
        div.navbar-header.container.dropdown
            button.align-right.navbar-toggle.x.collapsed#dropdownMenu1(type="button" data-target="#navbarNav" data-toggle="collapse") 
                span.icon-bar(deluminate_imagetype="unknown")
                span.icon-bar(deluminate_imagetype="unknown")
                span.icon-bar(deluminate_imagetype="unknown")
            div.collapse.navbar-collapse#navbarNav
                    ul.nav.navbar-nav.highlight
                        each item in["Articles" , "Categories" , "Produits"]
                            li.nav-item: a(href="/"+item.toLowerCase())= item  
    p 
    div.col-md-3 
    div.col-md-8 Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte
    